  html { height: 100% }
  body {
	height: 450px;
	margin: 0px;
	padding: 0px;
	width: 600px;
}
  #map_canvas { height: 100%; width: 60% }
#apDiv1 {
	position:absolute;
	left:364px;
	width:301px;
	z-index:1;
	
}
#apDiv2 {
	position:absolute;
	left:364px;
	width:301px;
	top: 130px;
	z-index:1;
	
}
#frnd_upd {
	position:absolute;
	left:364px;
	width:301px;
	top: 230px;	
	z-index:1;
	
}
.design{
font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 9pt;
background-color:#DDD;
color:#000;

}

.design2 {
font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 9pt;
background-color: white;
color:#000;

}

p {
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10pt;
	}

.design3 {
font:medium "Lucida Sans Unicode", "Lucida Grande", sans-serif;
background-color:deepskyblue;
color:#000;


}

/* Button CSS */

a.boldbuttons{
background: transparent url('media/roundedge-green-left.gif') no-repeat top left;
display: block;
float: left;
font: bold 13px Arial; /* Change 13px as desired */
line-height: 22px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 30px) */
height: 30px; /* Height of button background height */
padding-left: 8px; /* Width of left menu image */
text-decoration: none;

}

a:link.boldbuttons, a:visited.boldbuttons, a:hover.boldbuttons, a:active.boldbuttons{
color: #BBB; /*button text color*/
}

a.boldbuttons span{
	color:#EEE;
	background: transparent url('media/roundedge-green-right.gif') no-repeat top right;
	display: block;
	padding: 4px 10px 4px 2px; /*Set 10px to be equal or greater than'padding-left' value above*/
	font-size: medium;
}

a:hover.boldbuttons{ /* Hover state CSS */
text-decoration: underline;
}


.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 100%;
}

#prev {
left: 10%;
	
	}
#next {
right: 10%;
}

/* for time elapsed messages */
.timeago {
font-size: 7pt;
color: gray;	
	}
/* for status updates in friend feed*/
.status {
font-size: 9pt;
color: brown;
border-bottom-style: dotted;
border-bottom-width: 1px;
text-decoration: none;
}
